<!DOCTYPE html>
<html lang = "en" >
<head >
    <meta charset = "UTF-8" >
    <meta name = "viewport" content = "width=device-width, initial-scale=1.0" >
    <link rel = "stylesheet" type="text/css" href = "../public/css/cardStyles.css" >
    <title >Profile Cards</title >
</head >
<body >

<header>
    <h1>Social Match Makers</h1>
    <nav>
        <a href="/dashboard">MembersDashboard</a> |
        <a href="/logout">Logout</a>
    </nav>
</header>

<!-- Welcome Message -->
<h2>Welcome, <%= user.name %>!</h2>

<div class = "profile-container" >
    <% if (memberData || []) { %>
        <% memberData.forEach(profile => { %>
            <div class = "profile-card" >
                <img src = "<%= profile.photo; %>" alt = "<%= profile.name; %>" >
                <h3 ><%= profile.name; %></h3 >
                <p ><label>Age:</label> <%= profile.age; %></p >
                <p ><label>Gender:</label> <%= profile.gender; %></p >
                <p ><label>AboutMe:</label> <%= profile.bio; %></p >
            </div >
        <% }); %>
    <% } %>
</div >






</body >
</html >